/**
 * Project: Trackit Diet/Symptoms tracker
 */

 md-whiteframe {
    padding: 16px;
 }

 .md-padding {
    padding-right: 0;
    padding-left: 0;
 }

 md-whiteframe[md-ink-ripple] {
  position: relative;
}

.card-header {
    width: 100%;
}
