/**
 * Project: Trackit Diet/Symptoms tracker
 */

 md-whiteframe {
    padding: 16px;
    margin-bottom: 16px;
 }

 .md-padding {
    padding-right: 0;
    padding-left: 0;
 }

 md-whiteframe[md-ink-ripple] {
  position: relative;
}

.card-header {
    width: 100%;
}

.time {
    padding-right: 8px;
    border-right: solid #c2c2c2;
    vertical-align: middle;
    text-align: right;
}

.diary-item {
    padding: 8px;
    margin-left: 16px;
}

.card-content {
    width: 100%;
    margin-top: 16px;
}

md-fab-speed-dial {
    position: fixed !important;
}

.buttons-box {
    margin-top: 24px;
    margin-right: 0; 
    margin-left: 0;
}
