/**
 * Project: Trackit Diet/Symptoms tracker
 */

 md-whiteframe {
    padding: 16px;
 }

 .md-padding {
    padding-right: 0;
    padding-left: 0;
 }

 md-whiteframe[md-ink-ripple] {
  position: relative;
}

.card-header {
    width: 100%;
}

.time {
    padding-right: 16px;
    border-right: solid #c2c2c2;
    vertical-align: middle;
}

.diary-item {
    margin-left: 16px;
}

.card-content {
    width: 100%;
}
